In [77]:
import pandas as pd
import numpy as np

In [78]:
df = pd.read_csv("Final_cleaned.csv")

In [79]:
df.columns

Index(['name', 'datetime', 'tempmax', 'tempmin', 'temp', 'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'humidity', 'windspeed', 'winddir',
       'sealevelpressure', 'cloudcover', 'visibility', 'moonphase'],
      dtype='object')

In [30]:
# df['date']=pd.to_datetime(df['datetime'])
# df['tempmax']=np.where(df['date'].between('1/1/2009','30/6/2009'),'1','2')
# df.groupby(['tempmax','name'])['tempmax'].mean().to_frame('mean')

In [82]:
dates = pd.to_datetime(df['datetime'])
new_df = (df.groupby(['name', np.select((dates.between('1/1/2009', '30/6/2009'), 
                                           dates.between('1/7/2009', '31/12/2009')), 
                                           ('sem_1', 'sem_2'))])
            .tempmax
            .mean()
            .rename_axis(('name', 'datetime'))
            .reset_index(name='avg_tempmax'))
new_df

            name datetime  avg_tempmax
0         Ampara        0    30.661553
1         Ampara    sem_1    30.314118
2         Ampara    sem_2    31.035220
3   Anuradhapura        0    31.770339
4   Anuradhapura    sem_1    30.619412
..           ...      ...          ...
73      Vavuniya    sem_1    30.992262
74      Vavuniya    sem_2    31.593750
75       colombo        0    30.795630
76       colombo    sem_1    31.246591
77       colombo    sem_2    30.260112

[78 rows x 3 columns]

In [83]:
new_df.loc[~(new_df==0).all(axis=1)]
new_df

            name datetime  avg_tempmax
0         Ampara        0    30.661553
1         Ampara    sem_1    30.314118
2         Ampara    sem_2    31.035220
3   Anuradhapura        0    31.770339
4   Anuradhapura    sem_1    30.619412
..           ...      ...          ...
73      Vavuniya    sem_1    30.992262
74      Vavuniya    sem_2    31.593750
75       colombo        0    30.795630
76       colombo    sem_1    31.246591
77       colombo    sem_2    30.260112

[78 rows x 3 columns]

In [41]:
grp = pd.cut(df['datetime'], bins=[pd.Timestamp(2019, 1, 1), 
                               pd.Timestamp(2019, 6, 30), 
                               pd.Timestamp(2019, 12, 3)], labels=['pre', 'post'],
      right=False)

df.groupby([grp, 'name'])['tempmax'].agg(['mean','count']).reset_index()

TypeError: float() argument must be a string or a number, not 'Timestamp'

In [36]:
df[df["datetime"].between('2019-01-01','2019-06-30',)]["tempmax"].mean()

nan